body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0b0f14;
}

/* SECCIÓN */
.contacto{
  text-align:center;
  padding:60px 20px;
  color:white;
  background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
             url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");
  background-size:cover;
}

/* TÍTULO */
.contacto h2{
  font-size:42px;
  color:#6e1abc;
  margin-bottom:10px;
}

/* TEXTO */
.contacto p{
  color:#ccc;
  margin-bottom:30px;
  font-size:18px;
}

/* CAJA DEL FORMULARIO */
.formulario{
  max-width:420px;
  margin:0 auto 40px;
  background:#1c1c1c;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 20px rgba(0,0,0,.6);

}

/* INPUTS */
.formulario input,
.formulario textarea{
  width:100%;
  padding:16px;
  margin-bottom:18px;
  border:none;
  border-radius:12px;
  background:#eaeaea;
  font-size:16px;
  outline:none;
}

/* TEXTAREA */
.formulario textarea{
  height:140px;
  resize:none;
}

/* BOTÓN */
.formulario button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:12px;
  background:#6e1abc;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.formulario button:hover{
  background:#5616a0;
}

/* MAPA */
.mapa{
  max-width:420px;
  margin:0 auto;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 0 20px rgba(0,0,0,.6);
}

.mapa iframe{
  width:100%;
  height:260px;
  border:0;
}
.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s;
}
.nav ul li a:hover {
  color: #3b0063;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f14;  
}