:root {
    --primary-purple: #000000;
    --accent-purple: #39055e;
    --text-white: #ffffff;
    --bg-white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-white);
    overflow-x: hidden;
}



header {
    position: absolute; 
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 10; 
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px; 
}

nav ul li a {
    text-decoration: none;
    color: var(--text-white);
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease; 
    opacity: 0.8;
}


nav ul li a:hover {
    opacity: 1;
    color: #2575fc; 
}


nav ul li a.active {
    opacity: 1;
    border-bottom: 2px solid #6a11cb;
    padding-bottom: 5px;
}



.hero-container {
    background: var(--primary-purple);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
    color: var(--text-white);
    position: relative;
    clip-path: ellipse(150% 100% at 50% 0%);
}

.hero-content {
    max-width: 500px;
    z-index: 2;
}

.greeting {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.name {
    font-size: 4rem;
    margin: 10px 0;
}

.description {
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 30px;
}


.btn-main {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.status {
    font-size: 0.9rem;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
}


.hero-image {
    position: relative;
}

.image-circle {
    width: 400px;
    height: 400px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(243, 239, 239, 0.1);
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

